<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Declared Vars To Go Here -->

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metadata -->
    <meta name="description" content="Auto rent site">
    <meta name="author" content="@ViraMaximets">

    <link rel="icon" href="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/templates/icon.png?raw=true">

    <!-- Page Name and Site Name -->
    <title>Car gallery</title>

    <!-- CSS -->
    <!-- Styles -->
    <link rel='stylesheet' href='https://viramaximets.github.io/REST-API-Flask/static/css/cars.css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>


<div class="container">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
               <li class="active"><a href="https://viramaximets.github.io/REST-API-Flask/templates/index.html">Home</a></li>
                <li><a href="https://viramaximets.github.io/REST-API-Flask/templates/cars.html">Gallery</a></li>
                <li><a href="https://viramaximets.github.io/REST-API-Flask/templates/login.html">Login</a></li>
            </ul>
        </nav>
    </header>
</div>

<ul class="grid">
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/0.jpg?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/1.jpg?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/2.jpg?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/3.jpg?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/4.jpg?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/5.jpg?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/6.png?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/cars/7.jpg?raw=true" alt="">
            <a href="https://viramaximets.github.io/REST-API-Flask/templates/rent.html">
                                <button class="button btt">Rent</button></a>
        </figure>
    </li>
</ul>


<br>
<footer class="footer">
    <p>&copy; 2021 AutoRoll, Inc.</p>
</footer>

</body>
</html>
