<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Declared Vars To Go Here -->

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metadata -->
    <meta name="description" content="Auto rent site">
    <meta name="author" content="@ViraMaximets">

    <link rel="icon" href="C:\Users\User\Desktop\Projects\Flask_Project\photo\templates\icon.png">

    <!-- Page Name and Site Name -->
    <title>Car gallery</title>

    <!-- CSS -->
    <!-- Styles -->
    <link rel='stylesheet' href='C:\Users\User\Desktop\Projects\Flask_Project\static\css\cars.css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>


<div class="container">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\index.html">Home</a>
                </li>
                <li><a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\cars.html">Gallery</a></li>
                <li><a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\login.html">Login</a></li>
            </ul>
        </nav>
    </header>
</div>

<ul class="grid">
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\0.jpg" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\1.jpg" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\2.jpg" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\3.jpg" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\4.jpg" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\5.jpg" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\6.png" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
    <li>
        <figure class="grid__figure">
            <img src="C:\Users\User\Desktop\Projects\Flask_Project\photo\cars\7.jpg" alt="">
            <button class="button btt">Rent</button>
        </figure>
    </li>
</ul>


<br>
<footer class="footer">
    <p>&copy; 2021 AutoRoll, Inc.</p>
</footer>

</body>
</html>
