<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Declared Vars To Go Here -->

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metadata -->
    <meta name="description" content="Auto rent site">
    <meta name="author" content="@ViraMaximets">

    <link rel="icon" href="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/templates/icon.png?raw=true">

    <!-- Page Name and Site Name -->
    <title>Home page</title>

    <!-- CSS -->
    <!-- Styles -->
    <link rel='stylesheet' href='https://viramaximets.github.io/REST-API-Flask/static/css/index.css' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="https://viramaximets.github.io/REST-API-Flask/templates/index.html">Home</a></li>
                <li><a href="https://viramaximets.github.io/REST-API-Flask/templates/cars.html">Gallery</a></li>
                <li><a href="https://viramaximets.github.io/REST-API-Flask/templates/login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/templates/background.png?raw=true">

        <div class="title">
            <h1> Welcome to AutoRoll </h1>
        </div>

        <div class="centered">
            <h2>All to provide you with The Perfect Car at the best price.
                We wish you a safe and enjoyable trip, no matter where and when you plan to go.</h2>
        </div>
    </div>

</div>
<a href="https://viramaximets.github.io/REST-API-Flask/templates/profile.html">profile user</a><br>
<a href="https://viramaximets.github.io/REST-API-Flask/templates/profile_admin.html">profile admin</a><br>

<br>
<footer class="footer">
    <p>&copy; 2021 AutoRoll, Inc.</p>
</footer>

</body>
</html>