<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Declared Vars To Go Here -->

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metadata -->
    <meta name="description" content="Auto rent site">
    <meta name="author" content="@ViraMaximets">

    <link rel="icon" href="C:\Users\User\Desktop\Projects\Flask_Project\photo\templates\icon.png">

    <!-- Page Name and Site Name -->
    <title>Profile</title>

    <!-- CSS -->
    <!-- Styles -->
    <link rel='stylesheet' href='C:\Users\User\Desktop\Projects\Flask_Project\static\css\profile.css' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<header class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\index.html">Home</a></li>
                <li><a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\cars.html">Gallery</a></li>
                <li><a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\login.html">Login</a></li>
            </ul>
        </nav>
    </header>

<div class="container">
    <div class="row gutters-sm">

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                             width="150">

                        <div class="mt-3">
                            <button class="button btt">Save</button>
                            <button class="button btt-bad">Delete profile</button>
                        </div>
                        <div class="mt-3">
                            <a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\add_car.html">
                                <button class="button btt">Add car</button></a>
                            <a href="C:\Users\User\Desktop\Projects\Flask_Project\templates\signup_admin.html">
                                <button class="button btt">Add admin</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">First Name</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" id="First" name="First" value="John">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Last Name</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" id="Last" name="Last" value="Disney">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Email</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" id="Email" name="Email" value="jonny777@mailcom">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Phone</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" id="Phone" name="Phone" value="(+1) 987 654 321">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="mb-0">Address</h4>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" id="Address" name="Address" value="Bay Area, San Francisco, CA">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<footer class="footer">
    <p>&copy; 2021 AutoRoll, Inc.</p>
</footer>

</body>
</html>