<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Declared Vars To Go Here -->

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metadata -->
    <meta name="description" content="Auto rent site">
    <meta name="author" content="@ViraMaximets">

    <link rel="icon" href="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/templates/icon.png?raw=true">

    <!-- Page Name and Site Name -->
    <title>Sign Up</title>

    <!-- CSS -->
    <!-- Styles -->
    <link rel='stylesheet' href="https://viramaximets.github.io/REST-API-Flask/static/css/login_signup.css"
          type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="https://viramaximets.github.io/REST-API-Flask/templates/index.html">Home</a></li>
                <li><a href="https://viramaximets.github.io/REST-API-Flask/templates/cars.html">Gallery</a></li>
                <li><a href="https://viramaximets.github.io/REST-API-Flask/templates/login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <img src="https://github.com/ViraMaximets/REST-API-Flask/blob/main/photo/templates/background.png?raw=true">

        <div class="title">
            <h1> Sign up </h1>
        </div>

        <div class="centered">
            <form>
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username">
                <br>
                <label for="pwd">Email:</label>
                <br>
                <input type="email" id="email" name="email">
                <br>
                <label for="pwd">Password:</label>
                <br>
                <input type="password" id="pwd" name="pwd">
                <br>
                <button class="button btt">Sign up</button>
            </form>
        </div>
    </div>

    <h5>Already have an account? <a href="https://viramaximets.github.io/REST-API-Flask/templates/login.html">Login!</a>
    </h5>

</div>


<br>
<footer class="footer">
    <p>&copy; 2021 AutoRoll, Inc.</p>
</footer>

</body>
</html>